@{
    ViewData["Title"] = "Georgian Computers";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Georgian Computers</h1>
    <p>This oroject is for building Web apps with ASP.NET Core, SQL Server, Entiry Framework and Bottstrap for COMP2084.</p>
</div>
